.round-pannel{
  position:relative;
}
.round{
  position:relative;
  display:inline-block;
  margin:10px 0;
}
.round:hover .reset{
  display:inline-block;
}
.result{
  position:absolute;
  bottom:-150px;
  left:0;
  z-index:1;
  display:inline-block;
  width:100%;
  font-size:110px;
}

.win{
  color:blue;
}
.lose{
  color:red;
}
.tie{
  color:purple;
}