.hands{
  width:125px;
  height: 175px;
  background:url('/images/hands.jpg')no-repeat;
  background-size:384px;
  background-position-x:0;
  margin-bottom:40px;
  position:relative;
}
.hands.rock{
  background-position-x:0;
}
.hands.scissors{
  background-position-x:-128px;
}
.hands.paper{
  background-position-x:-256px;
}
.text{
  position:absolute;
  bottom: -40px;
  left:0;
  /* text-overflow:ellipsis; */
  white-space:nowrap;
  word-wrap:normal;
  width:100px;
  overflow:hidden;
  font-size: 18px;
}
.Player{
  float:left;
}
.Player .text{
  color:blue;
}
.NPC{
  float:right;
}
.Player.started{
  animation: animate .5s steps(3,end) infinite;
  animation-direction: reverse;
  -webkit-animation-direction: reverse;
}
.NPC.started{
  animation: animate .5s steps(3,end) infinite;
}

@keyframes animate{
  0%{
    background-position-x:0;
  }
  100%{
    background-position-x:-384px;
  } 
}