.App {
  text-align: center;
  margin-top:30px;
  width:800px;
  margin:30px auto 0;
  border:1px solid #8e8e8e;
  font-family:'nanumgothic';
}
.font-size_12{
  font-size:12px;
}
.gamePanel{
  width:300px;
  margin:0 auto 30px;
  overflow:hidden;
}

.nav-bar{
  position:relative;
  text-align:right;
  border-bottom: 1px solid #8e8e8e;
}