.controller{
  margin-bottom:30px;
}
.controlButton{
  min-width: 120px;
  height: 37px;
  padding: 5px 20px;
  font-weight: 400;
  font-size: 16px;
  background-color:#fff;
  color: #333;
}
.controlButton:first-child{
  border-right:none;
}
.controlButton:last-child{
  border-left:none;
}
.controlButton:hover{
  background-color:#ccc;
  color:#fff;
}
